/* My Styles */

img {
    max-width: 40%;
    height: auto;
    border-radius: 50%
}

figure {
    max-width: 40%;
    height: auto;
    display: inline-grid;
    column-gap: 1em;
    align-items: center;
}

figcaption {
font-family: source-sans-pro, sans-serif;
font-weight: 600;
font-style: normal;
}