/* My Styles */

img {
    max-width: 40%;
    height: auto;
    border-radius: 50%
   
}

img:hover {
    transform: scale(1.3);
    transition: 1s, 0.25s;

}

figure {
    max-width: 40%;
    height: auto;
    display: inline-grid;
    column-gap: 1em;
    text-align: center;
    background-color: lightgray;
    padding: 1em;
    border-radius: 1em;
}


figcaption {
font-family: source-sans-pro, sans-serif;
font-weight: 600;
font-style: normal;
margin: 1.5em;
font-size: 1.5em;
text-align: center;
}